.main{
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  background-color: #1E3A8A;
}
.navbar ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  gap: 50px;
}
.navbar ul a{
  color: #F8FAFC;
  text-decoration: none;
}
.imgStyle{
  width: 100%;
  height: 100vh;
}
.pricing{
  margin: 70px 0 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.pricetags{
  width: 300px;
  height: 350px;
  box-shadow: 0 0 10px rgba(16, 20, 41, 0.5);
  padding-top: 20px;
  margin: 30px 0 30px 0;
}
.pricetags ul{
  margin-top: 20px;
  list-style: none;
  padding-left: 30px;
}
.footer{
  color: white;
}