@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F8FAFC;
  font-family: cursive;
}
h2{
  margin-top: 20px;
  text-align: center;
}
h4{
  padding: 15px 0 0 15px;
}
p{
  text-align: center;
}